name: Build

on:
  pull_request:
    paths-ignore:
      - "**.md"
  push:
    branches:
      - master
    paths-ignore:
      - "**.md"
  schedule:
    # runs the CI everyday at 10AM
    - cron: "0 10 * * *"

jobs:
  flutter:
    strategy:
      matrix:
        channel:
          # The dev channel does not support reading from a fifo for now
          # - dev
          - beta
          - master
        os:
          - macos-latest
          - ubuntu-latest
        package-path:
          - '.'
          - 'example'

    defaults:
      run:
        working-directory: ${{ matrix.package-path }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 2

      - uses: subosito/flutter-action@v2.8.0
        with:
          channel: ${{ matrix.channel }}

      - name: Flutter doctor
        run: flutter doctor --verbose --no-version-check

      - name: Install dependencies
        run: flutter pub get

      - name: Check format
        run: dart format --set-exit-if-changed .

      - name: Analyze
        run: flutter analyze

      - name: Run tests
        run: |
          if test -d "test"; then
            flutter test --coverage
          fi

      - name: Upload coverage to codecov
        run: |
          if test -d "test"; then
            curl -s https://codecov.io/bash | bash
          fi
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          CODECOV_FLAGS: unit,${{ matrix.os }}
